html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.book-container {
  margin-top: 100px;
}
.nav-row {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
}

nav.nav-row > * {
  margin-right: 10px;
}

.logo,
.links {
  width: 45%;
}

.logo a {
  margin-left: 1rem;
}

.links ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.links ul li:first-child {
  margin-right: 10px;
}

.menu-mobile {
  background-color: lightgreen;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  width: 80vw;
  z-index: 1;
  animation-name: slideOpenMobileNav;
  animation-duration: 1s;
}

/* .menu-mobile {
  animation-name: slideCloseMobileNav;
  animation-duration: 2s;
} */

.close-mobile-menu {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

@keyframes slideOpenMobileNav {
  0% {
    width: 0%;
  }
  100% {
    width: 80vw;
  }
}

/* @keyframes slideCloseMobileNav {
  0% {
    width: 30rem;
  }
  100% {
    width: 0%;
  }
} */
/* Tablet Styles */
@media (min-width: 600px) {
  .hamburger-menu-mobile {
    display: none;
  }
}

/* Desktop Styles */
/* @media (min-width: 1200px) {
  .hamburger-menu-mobile {
    display: none;
  }
} */
