html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.book-container {
  margin-top: 100px;
}
.nav-row {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
}
nav {
  margin-bottom: 1rem;
}
nav.nav-row > * {
  margin-right: 10px;
}
.logo a {
  text-decoration: none;
  font-size: 2rem;
  color: #1b1515;
}
.links {
  display: none;
}
.margin-3 {
  margin-top: 1rem;
}

.menu-mobile {
  background-color: lightgreen;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  width: 80vw;
  z-index: 1;
  /* animation-name: slideOpenMobileNav;
  animation-duration: 1s; */
}

/* .menu-mobile {
  animation-name: slideCloseMobileNav;
  animation-duration: 2s;
} */

.close-mobile-menu {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.landing > * {
  text-align: center;
  font-size: 1.25rem;
  height: 85vh;
  border-bottom: 1rem solid rgb(20, 13, 13);
}

.landing .landing-welcome {
  background-image: linear-gradient(
    to right,
    #020024 0%,
    #097379 35%,
    #00d4ff 100%
  );
}

.landing .landing-feat-recs {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.landing .landing-feat-lists {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}

.landing .landing-feat-ratings {
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
}

.signin-signup {
  position: absolute;
  width: 90%;
  background-color: cadetblue;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px #968f8f;
}

.signin-signup h5 {
  font-size: 1.5rem;
  text-align: center;
}

.signin-signup .email,
.signin-signup .password {
  margin: 0 auto;
}

.signin-signup label,
.signin-signup button {
  margin: 0 5%;
}

.signin-signup #email,
.signin-signup #password {
  display: block;
  margin: 0 auto;
}

.signin-signup input {
  line-height: 1.5rem;
  width: 90%;
  border-color: white;
  border-radius: 10px;
}

.signin-signup div {
  margin: 10px 0;
}

/* @keyframes slideOpenMobileNav {
  0% {
    width: 0%;
  }
  100% {
    width: 80vw;
  }
} */

/* Tablet Styles */
@media (min-width: 600px) {
  .hamburger-menu-mobile {
    display: none;
  }

  .links {
    display: block;
  }

  .logo,
  .links {
    width: 45%;
  }

  .logo a {
    margin-left: 1rem;
  }

  .links ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  .links ul li:not(:last-child) {
    margin-right: 10px;
  }

  .signin-signup {
    width: 65%;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  /* .hamburger-menu-mobile {
    display: none;
  } */
  .signin-signup {
    width: 60%;
    max-width: 700px;
  }
}
