html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.book-container {
  margin-top: 100px;
}
.nav-row {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  background-color: cornflowerblue;
}

nav.nav-row > * {
  margin-right: 10px;
}
